body {
    padding: 50px 0 50px;
    min-width: 990px;
    color: black;
}

section {
	display: flex;
	flex-direction: column;
	border: solid;
	border-color: red;
	background-color:lightblue;
}

.author {
	font-weight: 900;
	font-size: 46px;
	position: left;
}

.song {
	font-weight: 800;
	font-size: 24px;
	color:blue;
	column-count: 1;
	margin-left: auto;
	margin-right: auto;
	width: 30em;
}

.title {
	padding: 20px 20px 20px 20px;
	font-weight: 400;
	font-size: 24px;
	text-align: center;
}

.subtitle {
	padding: 20px 20px 20px 40px;
	font-weight: 400;
	font-size: 35px;
	text-align: center;
}

p {
	padding: 20px 20px 20px 40px;
	font-weight: 400;
	font-size: 16px;
	text-indent: 100px;
	text-align: justify;
	letter-spacing: 3px;
}

.container {
	display: flex;
	position: relative;
	width: 100%;
	max-width: 700px;
}
  
  img {
	width: 100%;
	height: auto;
}
  
  .overlay {
	position: absolute; 
	bottom: 0; 
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	color: #4919a1; 
	width: 100%;
	transition: .5s ease;
	opacity:0;
	color: rgb(204, 236, 18);
	font-size: 40px;
	padding: 20px;
	text-align: center;
}
  
  .container:hover .overlay {
	opacity: 1;
}